---
import Particles from "./Particles.astro";
import RomanticSwiper from "./RomanticSwiper";
import BirthdayMessage from "./BirthdayMessage.jsx";
import BirthdayCard from "./BirthdayCard.astro";
import PuzzleRomantico from "./Puzzle.jsx";
---

<div id="container">
	<!-- Contenedor con las flores solo en los lados -->
	<div class="layout-wrapper">
		<div class="side-border"></div>
		<div class="content">
			<Particles />
			<RomanticSwiper client:load />
			<!-- <BirthdayMessage client:load /> -->
			<BirthdayCard />
			<PuzzleRomantico client:load />
		</div>
		<div class="side-border"></div>
	</div>

	<style>
		.layout-wrapper {
			display: flex;
			z-index: 1;
			min-height: calc(100vh - 80px);
		}

		.side-border {
			width: 40px;
			background-image: url("/flower-border.png");
			background-repeat: repeat-y;
			background-size: contain;
			background-position: center;
			flex-shrink: 0;
			opacity: 0.6;
		}

		.content {
			display: flex;
			justify-content: center;
			flex-direction: column;
			flex: 1;
			min-height: 100%;
			position: relative;
			z-index: 1;
			padding: 2rem;
		}

		@media (max-width: 768px) {
			.side-border {
				display: none;
			}
		}
	</style>
</div>
